:root {
  --tw-cyan-50: #ecfeff;
  --tw-cyan-100: #cffafe;
  --tw-cyan-200: #a5f3fc;
  --tw-cyan-300: #67e8f9;
  --tw-cyan-400: #22d3ee;
  --tw-cyan-500: #06b6d4;
  --tw-cyan-600: #0891b2;
  --tw-cyan-700: #0e7490;
  --tw-cyan-800: #155e75;
  --tw-cyan-900: #164e63;
  --tw-cyan-950: #083344;

  --tw-zinc-50: #fafafa;
  --tw-zinc-100: #f4f4f5;
  --tw-zinc-200: #e4e4e7;
  --tw-zinc-300: #d4d4d8;
  --tw-zinc-400: #a1a1aa;
  --tw-zinc-500: #71717a;
  --tw-zinc-600: #52525b;
  --tw-zinc-700: #3f3f46;
  --tw-zinc-800: #27272a;
  --tw-zinc-900: #18181b;
  --tw-zinc-950: #09090b;

  --vp-c-cyan: var(--tw-cyan-500);
  --vp-c-cyan-light: var(--tw-cyan-400);
  --vp-c-cyan-lighter: var(--tw-cyan-300);
  --vp-c-cyan-dark: var(--tw-cyan-600);
  --vp-c-cyan-darker: var(--tw-cyan-700);

  --not-implemented: #ff23ed;
}

/**
 * Colors Theme
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-bg: var(--tw-zinc-50);

  --vp-c-bg-elv: var(--tw-zinc-100);
  --vp-c-bg-elv-up: var(--not-implemented);
  --vp-c-bg-elv-down: var(--not-implemented);
  --vp-c-bg-elv-mute: var(--not-implemented);

  --vp-c-bg-soft: var(--tw-zinc-200);
  --vp-c-bg-soft-up: var(--tw-zinc-200);
  --vp-c-bg-soft-down: var(--not-implemented);
  --vp-c-bg-soft-mute: var(--not-implemented);

  --vp-c-bg-alt: var(--not-implemented);

  --vp-c-border: var(--tw-zinc-300);
  --vp-c-divider: var(--tw-zinc-300);
  --vp-c-gutter: var(--tw-zinc-300);

  --vp-c-neutral: var(--vp-c-black);
  --vp-c-neutral-inverse: var(--vp-c-white);

  --vp-c-text-1: var(--vp-c-text-light-1);
  --vp-c-text-2: var(--vp-c-text-light-2);
  --vp-c-text-3: var(--vp-c-text-light-3);

  --vp-c-text-inverse-1: var(--vp-c-text-dark-1);
  --vp-c-text-inverse-2: var(--vp-c-text-dark-2);
  --vp-c-text-inverse-3: var(--vp-c-text-dark-3);

  --vp-c-text-code: var(--tw-zinc-950);

  --vp-c-brand: var(--vp-c-cyan);
  --vp-c-brand-light: var(--vp-c-cyan-light);
  --vp-c-brand-lighter: var(--vp-c-cyan-lighter);
  --vp-c-brand-dark: var(--vp-c-cyan-dark);
  --vp-c-brand-darker: var(--vp-c-cyan-darker);

  --vp-c-mute: var(--tw-zinc-200);
  --vp-c-mute-light: var(--not-implemented);
  --vp-c-mute-lighter: var(--not-implemented);
  --vp-c-mute-dark: var(--not-implemented);
  --vp-c-mute-darker: var(--not-implemented);

  --vp-c-bg-alt: var(--tw-zinc-100);
  --vp-sidebar-bg-color: var(--vp-c-bg-alt);
  --vp-code-copy-code-bg: var(--vp-code-block-bg);
  --vp-code-copy-code-hover-bg: var(--vp-code-block-bg);
}

/**
 * Component: Code
 * -------------------------------------------------------------------------- */
:root {
  --vp-code-block-color: var(--vp-c-text-dark-1);
  --vp-code-block-bg: var(--not-implemented);

  --vp-code-tab-divider: var(--vp-c-text-light-3);
  --vp-code-tab-text-color: var(--vp-c-text-light-2);
  --vp-code-tab-bg: var(--vp-code-block-bg);
  --vp-code-tab-hover-text-color: var(--vp-c-text-light-1);
  --vp-code-tab-active-text-color: var(--vp-c-text-light-1);
  --vp-code-tab-active-bar-color: var(--vp-c-brand);
}

.dark {
  --vp-c-bg: var(--tw-zinc-800);

  --vp-c-bg-elv: var(--tw-zinc-900);
  --vp-c-bg-elv-up: #0400ff;
  --vp-c-bg-elv-down: var(--not-implemented);
  --vp-c-bg-elv-mute: var(--not-implemented);

  --vp-c-bg-soft: var(--tw-zinc-900);
  --vp-c-bg-soft-up: var(--tw-zinc-900);
  --vp-c-bg-soft-down: var(--not-implemented);
  --vp-c-bg-soft-mute: var(--not-implemented);

  --vp-c-bg-alt: var(--tw-zinc-900);

  --vp-c-border: var(--tw-zinc-700);
  --vp-c-divider: var(--tw-zinc-700);
  --vp-c-gutter: var(--tw-zinc-700);

  --vp-c-neutral: var(--vp-c-white);
  --vp-c-neutral-inverse: var(--vp-c-black);

  --vp-c-text-1: var(--vp-c-text-dark-1);
  --vp-c-text-2: var(--vp-c-text-dark-2);
  --vp-c-text-3: var(--vp-c-text-dark-3);

  --vp-c-text-inverse-1: var(--vp-c-text-light-1);
  --vp-c-text-inverse-2: var(--vp-c-text-light-2);
  --vp-c-text-inverse-3: var(--vp-c-text-light-3);

  --vp-c-mute: var(--tw-zinc-900);
  --vp-c-mute-light: var(--not-implemented);
  --vp-c-mute-lighter: var(--not-implemented);
  --vp-c-mute-dark: var(--not-implemented);
  --vp-c-mute-darker: var(--not-implemented);

  --vp-code-block-bg: var(--tw-zinc-900);
  --vp-code-tab-hover-text-color: var(--vp-c-text-dark-2);
  --vp-code-tab-active-text-color: var(--vp-c-text-dark-1);

  --vp-c-text-code: var(--tw--zinc-50);
}

.vp-doc h1,
.vp-doc h2,
.vp-doc h3,
.vp-doc h4,
.vp-doc h5,
.vp-doc h6 {
  font-weight: 700;
}

.title {
  font-weight: 700 !important;
}

.DocSearch-Button {
  background-color: var(--vp-c-bg-soft);
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
}
